[submodule "readym-gameserver"]
	path = readym-gameserver
	url = git@github.com:readycodeio/readym-gameserver.git
[submodule "WukongMP-co-op-mod"]
	path = WukongMP-co-op-mod
	url = https://github.com/readycodeio/WukongMP-co-op-mod
